$primary-color: white;

@mixin box-shadow($top, $box-shadow) {
  top: $top;
  box-shadow: $box-shadow; 
}

@mixin text($line-height, $font-size, $text-align) {
  line-height: $line-height;
  font-size: $font-size;
  text-align: $text-align;
}

body {
  background: grey; 
  display: flex;
  justify-content: center;
  margin: 100px;
  font-family: Arial;
}

.calculator {
  width: 320px;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  padding: 5px 5px 10px 5px;
  border-radius: 4px; 
  background: $primary-color;
}

.item {
  @include box-shadow(0px, 0px 4px 0px #00823F);
  height: 64px;
  width: 76px;
  margin-top: 10px;
  position: relative;
  flex-flow: wrap row;
  background: #98DCD8;
  border-radius: 3px;
  cursor: pointer;
  transition: all ease 0.3s;
  
  @include text(64px, 1.12em, center);
  color: black;

  &:active {
    @include box-shadow(2px, 0px 2px 0px #00823F);
  }
}


#screen {
  flex: 100%;
  margin: 0;
  padding-right: 7px;
  height: 40px;
  color: black;
  background: $primary-color;
  border: 1px grey solid;
  border-radius: 3px;
  
  @include text(40px, 1.2em, right);
  font-weight: 600;
  letter-spacing: 0.02em;
}

#delete {
  font-size: 1em;
}

